<%- include("layout/header") %>

<div class="blockpage">
    <h3>Blocks</h3>
    <p class="featurelink">Featured: Build Precise & Reliable Apps with <%= name %> APIs. <a href="/">Learn More!</a></p>
    <div class="blocks">
        <div class="blockspaginate">
            <div class="row">
                <div class="col-md-6">
                    <p>Block #0 to #3 (Total of 16,134,404 blocks)</p>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="/block" class="active">First</a></li>
                        <li><a href="/block" class="active"><</a> </li>
                        <li class="countpage">Page 645377 of 645377</li>
                        <li><a href="/block" class="inactive"> > </a></li>
                        <li><a href="/block" class="inactive"> Last </a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <td class="blocktdhead">Block</td>
                    <td class="blocktdhead">Age</td>
                    <td class="blocktdhead">Txn</td>
                    <td class="blocktdhead">Miner</td>
                    <td class="blocktdhead">Gas Used</td>
                    <td class="blocktdhead">Gas Limit</td>
                    <td class="blocktdhead">Base Fee</td>
                    <td class="blocktdhead">Reward</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
                  <tr>
                    <td><a href="/block/">1</a></td>
                    <td>2687 days 2 hrs ago</td>
                    <td>0</td>
                    <td><a href="/address">Addreess</a></td>
                    <td>0 (0.00%, -100%)</td>
                    <td>5,000</td>
                    <td>0 Ether</td>
                    <td>5.15625 Ether</td>
                  </tr>
            
            </table>
        </div>

        <div class="blockspaginate">
            <div class="row">
                <div class="col-md-6"> 
                    <div class="row mb-3">
                        <div class="col-md-1 pt-2 col-2">Show</div>
                        <div class="col-md-2 col-4">
                            <select class="form-select shadow-none"  aria-label=".form-select-sm example">
                                <option value="10" selected>10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                            </select> 
                        </div>
                        <div class="col-md-1 pt-2 col-2">Records</div>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul>
                        <li><a href="/block" class="active">First</a></li>
                        <li><a href="/block" class="active"><</a> </li>
                        <li class="countpage">Page 645377 of 645377</li>
                        <li><a href="/block" class="inactive"> > </a></li>
                        <li><a href="/block" class="inactive"> Last </a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<%- include("layout/footer") %>