<%- include("layout/header") %>

<div class="errorpage">
    <h3><b>Sorry!</b> We encountered an unexpected <br/>error.</h3>
    <br/>
    <p>Please try back again shortly</p>
    <br/><br/><br/>
    <a href="/" class="btn btn-primary" style="width: 150px;">Back Home</a>
</div>

