<%- include("layout/header") %>

<div class="blockview">
    <h3>Transaction Details</h3>
    <div class="blockdetails">
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Transaction Hash:</p>
                </div>
                <div class="col-md-4"><p><%- hash %></p></div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Status:</p>
                </div>
                <div class="col-md-4">
                    <p class="blockstatus"><i class="fas fa-check"></i> Success</p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Block:</p>
                </div>
                <div class="col-md-4">
                    <p>
                      <a href="/block/0878"><i class="fas fa-check text-success"></i> 86535</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Timestamp:</p>
                </div>
                <div class="col-md-4"><p>33 mins ago (Dec-08-2022 03:40:59 PM +UTC)</p></div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>From :</p>
                </div>
                <div class="col-md-4">
                    <p>
                      <a href="/address/">0xfeebabe6b0418ec13b30aadf129f5dcdd4f70cea</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>To :</p>
                </div>
                <div class="col-md-4">
                    <p>
                      <a href="/address/">0xfeebabe6b0418ec13b30aadf129f5dcdd4f70cea</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Value:</p>
                </div>
                <div class="col-md-8">
                    <p>
                        0.019251374766883505 Ether ($24.07)
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Transaction Fee:</p>
                </div>
                <div class="col-md-4">
                    <p>
                        0.000290642423037849 Ether ($0.36)
                   </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Gas Price:</p>
                </div>
                <div class="col-md-4">
                    <p>
                        
                        0.000000013818400753 Ether (13.818400753 Gwei)
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Gas Limit & Usage by Txn:</p>
                </div>
                <div class="col-md-4">
                    <p>
                    55,000 | 21,033 (38.24%)
                    </p>
                </div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Gas Fees:</p>
                </div>
                <div class="col-md-8"><p>
                    Base: 13.818400753 Gwei |Max: 13.818400753 Gwei |Max Priority: 0 Ether</p></div>
            </div>
        </div>
        <div class="blockrow">
            <div class="row ">
                <div class="col-md-3">
                    <p>Input Data:</p>
                </div>
                <div class="col-md-8">
                    <textarea disabled class="w-100" cols="10" rows="2">
                        0x
                    </textarea>
                </div>
            </div>
        </div>
  
    
    </div>
</div>

<%- include("layout/footer") %>