
<div class="footer">
  <div class="row">
    <div class="col-md-4">
        <h3><img src="/images/favicon.png"/> <span>Powered by CoinBiten </span></h3>
        <p>
            <%- name %> is a Block Explorer and Analytics Platform for
        </p>
        <p>
            <%- name %>, a decentralized smart contracts platform.
        </p>
    </div>
    <div class="col-md-3 col-6">
        <h5>Company</h5>
        <ul>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contacttus">Contact Us</a></li>
            <li><a href="/brandassets">Brand Assets</a></li>
            <li><a href="/terms">Terms of Service</a></li>
            <li><a href="/bugbounty">Bug Bounty</a></li>
        </ul>
    </div>
    <div class="col-md-3 col-6">
        <h5>Resources</h5>
        <ul>
            <li><a href="/api-docs">API Documentation</a></li>
            <li><a href="/">Knowledge Base</a></li>
            <li><a href="/">Newsletter</a></li>
            <li><a href="/">Network Status</a></li>
            <li><a href="/">Disqus Comments</a></li>
        </ul>
    </div>
    <div class="col-md-2 col-6">
        <h5>Products & Services</h5>
        <ul>
            <li><a href="/">Advertise</a></li>
            <li><a href="/">Explorer-as-a-Service</a></li>
            <li><a href="/api-docs">Developers APIs</a></li>
            <li><a href="https://coinbiten.com" target="_blank">Wallet</a></li>
            <li><a href="https://mbcash.org" target="_blank">Exchange</a></li>
        </ul>
    </div>
  </div>
  <div class="footerbottom">
    <div class="row">
        <div class="col-md-6">
            <p><%- name %> © <script>document.write(new Date().getFullYear())</script> (B1)</p>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                   <a href="/" target="_blank">
                    <i class="fab fa-twitter"></i>
                   </a>
                </li>
                <li>
                    <a href="/" target="_blank">
                     <i class="fab fa-facebook"></i>
                    </a>
                 </li>
                 <li>
                    <a href="/" target="_blank">
                     <i class="fab fa-telegram"></i>
                    </a>
                 </li>
                 <li>
                    <a href="/" target="_blank">
                     <i class="fab fa-reddit"></i>
                    </a>
                 </li>
                 <li>
                    <a href="/" target="_blank">
                     <i class="fab fa-github"></i>
                    </a>
                 </li>
            </ul>
        </div>
    </div>
  </div>
</div>

</body>
</html>