<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/responsive.css"/>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" 
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" 
    crossorigin="anonymous"/>

    <link rel="icon" href="/images/favicon.png"/>
    <script src="/js/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="/js/babel.js"></script>
    <script crossorigin src="/js/react.production.min.js"></script>
    <script crossorigin src="/js/react-dom.production.min.js"></script>
    <script src="/js/axios.min.js" 
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" 
    crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="/js/notify.js"></script>
    <script type="text/javascript" charset="utf8" src="/js/moment.min.js"></script>
    <script src="/js/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="https://cdn.jsdelivr.net/npm/lightweight-charts@3.6.1/dist/lightweight-charts.standalone.production.js" integrity="sha256-L+5GBtkjmwnFa5zpzHPGwFXU3fkCAvzehkQrdfux1Ew=" crossorigin="anonymous"></script>
    
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <title><%= title %></title>
  </head>
  <body>

    <div class="menu">
        <div class="logo">
          <a href="/">
            <img src="/images/logo.png" />
           </a>
        </div>
        <div class="baricon">
          <i onclick="menuClick()" class="fa fa-bars"></i>
        </div>
        <div class="navmenu">
          <%- include("navbar") %>
        </div>
    </div>
    <div id="menutoggle" class="menumobile">
      <%- include("navbar") %>
    </div>

    <script>
      function menuClick() {
        var x = document.getElementById("menutoggle");
        if (x.style.display == "none" || x.style.display == "") {
          x.style.display = "block";
        } else {
          x.style.display = "none";
        }
      }
     </script>
