<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/blocks">Blocks</a></li>
    <li><a href="/txs">Transactions</a></li>
    <li><a href="/txsPending">Pending Txs</a></li>
    <li><a href="/rpc">RPC Info</a></li>
</ul>